:root {
  --bg: hsl(0deg 0% 100% / 20%);
  --gray: hsl(0deg 0% 35%);
  --white: hsl(0deg 0% 100%);

  --blur: 10px;
  --indent: 4ch;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  background: url('../images/background.jpeg') no-repeat;
  background-size: cover;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: var(--white);
  text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Tangerine", serif;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  margin: 1em;
}

ul {
  list-style: square;
}

li {
  margin: .5em;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
}

h2 {
  font-size: 2rem;
}

header {
  background: var(--bg);
  backdrop-filter: blur(var(--blur));
  padding: 1rem;
  width: 100%;
}

nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

button {
  background: none;
  border: none;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  padding: .5rem 0;
  color: var(--white);
  &:hover, &.selected {
    border-color: var(--white);
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: var(--bg);
  border-radius: 9999px;
}

#content {
  margin: 2rem;
  width: min(65ch, calc(100% - 4rem));
  overflow-y: overlay;
  padding: calc(2rem + 10px);
  background: var(--bg);
  backdrop-filter: blur(var(--blur));
  border-radius: 1rem;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  margin-bottom: 4rem;
}

.menu-item img {
  flex: 1;
  min-width: 0;
  max-width: 300px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 1rem;
  border: 1px solid var(--white);
  transition: all .5s;
  cursor: pointer;
  &:hover {
    scale: 1.025;
  }
}

.price {
  font-family: "Tangerine", serif;
  font-size: 1.5rem;
  line-height: 0;
}

.employee-title, .week-day {
  font-weight: 700;
}

.employee-name {
  font-family: "Tangerine", serif;
  font-size: 2rem;
}

:last-child {
  margin-bottom: 0;
}

/* UTILITY CLASSES */

.indent {
  text-indent: var(--indent);
}

.text-center {
  text-align: center;
}